version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "12:00"
    labels:
      - "dependencies"
      - "github-actions"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "12:00"
    labels:
      - "dependencies"
      - "docker"
